.App {
  text-align: center;
  background-color: #f0fafb;
  height: 100vh;
}

.header_div{
  background-color: inherit;
}

.filter_bar{
  background-color: white;
  position:absolute;
  top: 90px;
  width:1100px;
  height:fit-content;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.my_row{
  height: fit-content;
}
.tag{
  background-color: #f0fafb;
  color:rgba(91,165,164,255);
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px;
  
  cursor: pointer;
  

}

.clear_div{
  text-decoration: underline;
  font-size: 16px;
  color:rgba(91,165,164,255);
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  cursor: pointer;
}

.x_style{
  background-color: #5dadae;
  color: white;
  font-size: 18px;
  border-radius:5px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

}
