.filter_bar{
    background-color: white;
    position:absolute;
    top: 90px;
    left: 15%;
    height:fit-content;
    width:900px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tag{
    background-color: #f0fafb;
    color:rgba(91,165,164,255);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    border-radius: 5px;

}

.clear_div{
    text-decoration: underline;
    font-size: 16px;
    color:rgba(91,165,164,255);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    cursor: pointer;
}